/*.log
/target
/*-init.clj
/checkouts
/classes
pom.xml
*.jar
*.class
/resources/public/js/compiled
out
.lein-repl-history
.idea*
/.lein-*
/.nrepl-port
atfides.iml
.nrepl-port
.idea/workspace.xml
/atfides.iml
