;; Analyzed by ClojureScript 1.7.122
{:name atfides.config, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires nil, :imports nil, :defs {debug? {:name atfides.config/debug?, :file "src/cljs/atfides/config.cljs", :line 3, :column 1, :end-line 3, :end-column 12, :meta {:file "/Users/mo/Desktop/cram/atfides/src/cljs/atfides/config.cljs", :line 3, :column 6, :end-line 3, :end-column 12}}}}